
<html>
<head>
  <!-- Bootstrap CSS from CDN -->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> si-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> si-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}">

    <!--<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script> si -->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>

    <!--<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script> si-->
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>

    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> si-->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script> si-->
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>

    <script type="text/javascript">
        window.onload = function() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(function(checkbox) {
                checkbox.addEventListener('click', function() {
                    updateFechar(this);
                });
            });

            var tableBody = document.getElementById('table-body');
            var socket = io();
            var numRows = document.getElementById("data-id");
            //console.log(numRows)
            //var numRows = 0;
            //var count = 0; 
        
            //socket.on('new_rows', function(newRows) {
            //    newRows.forEach(function(row) {
            //        var tr = document.createElement('tr');
            //        tr.dataset.id = row['ID']; // Set the row ID

            var table = $('#alarms-table').DataTable({
                order: [], // remove default ordering
                dom: 'Bfrtip',
                stateSave: true, // enables saving the state of a table (paging position, ordering state, etc)
            });

            socket.on('new_rows', function(newRows) {
                newRows.forEach(function(row) {
                    //var tr = document.createElement('tr');
                    //tr.dataset.id = row['ID']; // Set the row ID
                    var rowData = [];

                    // Create and append the cells to the row
                    var keys = Object.keys(row);
                    for (var i = 0; i < keys.length+3; i++) {
                        var td = document.createElement('td');
                        var key = keys[i];
                        if(row['ALARMSEV']=='Low') {
                            td.className = ("table-info")
                        } else if(row['ALARMSEV']=='Medium') {
                            td.className = ("table-warning")
                        } else {
                            td.className = ("table-danger")
                        } 
                        if (i == 8) { // Comentario
                            //console.log('1');
                            var input = document.createElement('input');
                            input.type = 'text';
                            input.className = 'form-control';
                            input.name = 'textbox_[' + row['ID'] + ']';
                            input.value = '';
                            //td.appendChild(input);
                            rowData.push(input.outerHTML);

                        } else if (i == 9) { // Check
                            //console.log('2');
                            var checkbox = document.createElement('input');
                            checkbox.type = 'checkbox';
                            checkbox.className = 'form-check-input';
                            checkbox.name = 'checkbox_[' + row['ID'] + ']';
                            checkbox.checked = row[key] == 'checked';
                            //td.appendChild(checkbox);
                            //checkbox.addEventListener('click', function() {
                            //    updateFechar(this);
                            //});
                            checkbox.addEventListener('click', function() {
                                updateFechar(this);
                            });
                            rowData.push(checkbox.outerHTML);
                           
                        } else if (i == 10) { // Fecha Check
                            //console.log('3');
                            var input = document.createElement('input');
                            input.type = 'hidden';
                            input.name = 'fechacheck_[' + row['ID'] + ']';
                            td.appendChild(input);
                            var span = document.createElement('span');
                            span.textContent = row[key];
                            //td.appendChild(span);
                            rowData.push(input.outerHTML + span.outerHTML);

                        } else {
                            console.log(row['ID'])
                            console.log(row['ESTADO']);
                            rowData.push(row[key]);

                        }
                        //tr.appendChild(td); // Append the cell to the row
                    }
                    numRows++; // Update the numRows value for each new row added
                    //tableBody.appendChild(tr);
                    if(row['ESTADO']=='A'){
                        table.row.add(rowData).draw();    
                    }
                    });
            });

            $('#alarms-table').on('click', 'input[type="checkbox"]', function() {
                updateFechar(this);
            });

            var inputs = document.querySelectorAll('input[type="text"], input[type="checkbox"]');
            var inputValues = {};
            var cursorPositions = {};
            inputs.forEach(function(input) {
                inputValues[input.name] = input.type == 'checkbox' ? input.checked : input.value;
                if (input.type == 'text' && input == document.activeElement) {
                    cursorPositions[input.name] = [input.selectionStart, input.selectionEnd];
                }
            });

            inputs = document.querySelectorAll('input[type="text"], input[type="checkbox"]');
            inputs.forEach(function(input) {
                if (input.name in inputValues) {
                    if (input.type == 'checkbox') {
                        input.checked = inputValues[input.name];
                    } else {
                        input.value = inputValues[input.name];
                        if (input.name in cursorPositions) {
                            input.setSelectionRange(cursorPositions[input.name][0], cursorPositions[input.name][1]);
                        }
                    }
                }
            });

            var form = document.querySelector('form');
            form.addEventListener('submit', function(e) {
                e.preventDefault(); // Prevent the default form submission
                var formData = new FormData(form);
                fetch('/', {
                    method: 'POST',
                    body: formData
                }).then(function(response) {
                    return response.text();
                }).then(function(text) {
                    console.log(text); // Log the server response
                });
            });

            async function fetchDate() {
                const response = await fetch('/current-date');
                const data = await response.json();
                return data.current_date;
            }

            async function updateFechar(checkbox) {
                var row = checkbox.parentNode.parentNode; // Get the parent row of the checkbox
                var fecharCell = row.cells[10]; // Get the tenth cell (CHECK DATE) of the row
                var fecharInput = fecharCell.querySelector('input');

                if (checkbox.checked) {
                    var currentDate = await fetchDate();
                    fecharCell.querySelector('span').textContent = currentDate;
                    fecharInput.value = currentDate; // Set the value of the 'fechacheck' input field
                } else {
                    fecharCell.querySelector('span').textContent = '';
                    fecharInput.value = ''; // Clear the value of the 'fechacheck' input field
                }
            }
        };

        
    </script>
    <script>
       $(document).ready(function() {
           $('form').on('submit', function(e) {
               e.preventDefault(); // Previene el comportamiento predeterminado del formulario
               // Realiza aquí cualquier otra acción que necesites antes de recargar la página (si es necesario).
               // Por ejemplo, enviar datos adicionales al servidor.
    
               // Primera recarga después de enviar el formulario
               window.location.reload(true);
    
               // Segunda recarga después de 2 segundos (2000 milisegundos)
               setTimeout(function() {
                   window.location.reload(true);
               }, 2000); // Ajusta el valor del timeout en milisegundos según tus necesidades
           });
       });
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Added custom styles for table and sidebar */
        .rounded-table {
            border-radius: 20px;
            overflow: hidden;
            border-width: 2px !important;
        }

        /* Sidebar styles */
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100; /* Behind the navbar */
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
            width: 15rem; /* Set sidebar width */
        }

        .sidebar-sticky {
            position: sticky;
            top: 48px; /* Height of navbar */
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        }

        /* Sidebar styles */
        .sidebar {
            position: fixed;
            height: 100%;
            width: 0;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }
        
        /* Sidebar link styles */
        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        /* Sidebar hover styles */
        .sidebar a:hover {
            color: #f1f1f1;
        }

        /* Main content */
        .main-content {
            transition: margin-left .5s;
            padding: 20px;
        }
    </style>

</head>
<body>
    <!-- Header with Bootstrap navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Gestor de alarmas</a>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
             <!--esta parte deberia ser un menu dinamico-->
            <div class="col-3 px-1 position-fixed" id="sticky-sidebar">
                <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                    <a href="/" class="text-decoration-none d-flex align-items-center link-dark border-bottom">
                      <span class="btn btn-toggle align-items-center rounded collapsed fw-semibold">Equipos</span>
                    </a>
                    <ul class="list-unstyled ps-0">
                      <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                          Cisternas - Alarmas
                        </button>
                        <div class="collapse" id="home-collapse" style="">
                          <ul class="btn-toggle-nav fw-normal pb-1 small">
                            <li><a href="{{ url_for('display_table') }}" class="link-dark rounded text-decoration-none">CERCI60 - Nuevas Alarmas</a></li>
                            <li><a href="{{ url_for('display_status_B') }}" class="link-dark rounded text-decoration-none">CERCI60 - Editar Alarmas</a></li>
                          </ul>
                        </div>
                      </li>  
                    </ul>
                </div>
            </div>    
            
            <div class="col offset-3" id="main">
                <form method="POST" action="javascript:void(0);" id="myForm">
                    <table class="table table-bordered rounded-table" id="alarms-table">
                    <!--<table class="table table-bordered" id="alarms-table">-->
                        <thead class="table-dark">
                        <tr>
                            <!--<th>C</th>-->
                            <th>ID</th>
                            <th>ID Equipo</th>
                            <th>Alarm ID</th>
                            <th>Alarm Description</th>
                            <th>Alarm Time</th>
                            <th>Alarm severity</th>
                            <th>Alarm Interface</th>
                            <th>Estado</th>
                            <th>Comentario</th>
                            <th>Check</th>
                            <th>Fecha Check</th>
                        </tr>
                        </thead>
                        <tbody id="table-body">
                        {% for i in data %}
                            {% if i['ALARMSEV'] == 'High' %}
                            <tr class="table-danger" data-id="{{ i['ID'] }}"> <!-- Add a unique identifier to each row -->
                            {% elif i['ALARMSEV'] == 'Medium'%}
                            <tr class="table-warning" data-id="{{ i['ID'] }}"> <!-- Add a unique identifier to each row -->
                            {% else %}
                            <tr class="table-info" data-id="{{ i['ID'] }}"> <!-- Add a unique identifier to each row -->
                            {% endif %}
                                <!--<td align="center">{{i['VARIABLC']}}</td>-->
                                <td>{{i['ID']}}</td>
                                <td>{{i['IDEQUIPO']}}</td>
                                <td>{{i['ALARMIDD']}}</td>
                                <td>{{i['ALARMDES']}}</td>
                                <td>{{i['ALARMTIM']}}</td>
                                <td>{{i['ALARMSEV']}}</td>
                                <td>{{i['ALARMINT']}}</td>
                                <td>{{i['ESTADO']}}</td>
                                <td><input type="text" class="form-control" name="textbox_[{{ i['ID'] }}]" value="{{ i['COMENTARIO'] }}" /></td>
                                <td>
                                    <input type="checkbox" class="form-check-input" name="checkbox_[{{ i['ID'] }}]" {% if i['CHECK'] == 'checked' %}checked{% endif %} />
                                </td>
                                <td>
                                    <input type="hidden" name="fechacheck_[{{ i['ID'] }}]" value="" />
                                    <span>{{ i['FECHACHECK'] }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <span>
                        
                    </span>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-2">Guardar cambios</button>
                        <div id="messageContainer"></div>

                    </div>
                </form>
                <div id="messageContainer"></div>

    </div>
</body>



</html>